import { Contract } from '@algorandfoundation/algorand-typescript'

export class {{ c_n.split('_')|map('capitalize')|join }} extends Contract {
  public hello(name: string): string {
    return `${this.getHello()} ${name}`
  }

  private getHello() {
    return 'Hello'
  }
}
